.admin-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.admin-panel h1 {
  color: #fff;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: center; /* Align buttons horizontally */
  margin: 20px;
}

.btn1 {
  margin: 10px;
  padding: 15px 30px; /* Larger padding for bigger buttons */
  border-radius: 5px;
  background-color: #555555; /* Darker background for distinction */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px; /* Larger font size */
  transition: background-color 0.3s;
}

.btn1:hover {
  background-color: #777777; /* Lighter on hover */
}

.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content2 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
